{% extends 'base.html' %}

{% block content %}
  <h2>Inicio de Sesión con Reconocimiento Facial</h2>
  <form method="post" action="{% url 'facial_login' %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Agrega el elemento de video para la cámara -->
    <video id="video" width="640" height="480" autoplay></video>

    <button type="button" id="capture-btn">Capturar Foto</button>
    <canvas id="canvas" width="640" height="480"></canvas>

    <!-- Agrega un campo oculto para almacenar la imagen codificada en base64 -->
    <input type="hidden" id="image_data" name="image_data" value="">
    
    <input type="submit" value="Iniciar Sesión">
  </form>

  <script>
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const captureButton = document.getElementById('capture-btn');
    const imageDataInput = document.getElementById('image_data');

    navigator.mediaDevices.getUserMedia({ video: true })
      .then((stream) => {
        video.srcObject = stream;
      })
      .catch((error) => {
        console.error('Error accessing camera:', error);
      });

    captureButton.addEventListener('click', () => {
      const context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, canvas.width, canvas.height);

      // Convertir la imagen a formato base64 y asignarla al campo de formulario
      const imageData = canvas.toDataURL('image/jpeg');
      imageDataInput.value = imageData;

      // Agregar mensajes de consola para depuración
      console.log('Imagen capturada:', imageData);
    });
  </script>
{% endblock %}
