<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/face-api.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 99;
        }
        canvas {
            position: absolute;
        }
        #particles-js {
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: -1;
        }
    </style>
    <title>Face Recognition</title>
</head>
<body>
    <div id="particles-js"></div>
    <video id='video' width="720" height="560" autoplay muted></video>

    <script>
        const video = document.getElementById('video');

        async function startVideo() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
                video.srcObject = stream;
            } catch (err) {
                console.error(err);
            }
        }

        Promise.all([
            faceapi.nets.ssdMobilenetv1.loadFromUri("/static/models"),
            faceapi.nets.tinyFaceDetector.loadFromUri('/static/models'),
            faceapi.nets.faceLandmark68Net.loadFromUri('/static/models'),
            faceapi.nets.faceRecognitionNet.loadFromUri('/static/models'),
            faceapi.nets.faceExpressionNet.loadFromUri('/static/models'),
            faceapi.nets.ageGenderNet.loadFromUri('/static/models')
        ]).then(() => {
            startVideo();
        });

        function getLabeledFaceDescriptions() {
            const labels = ["Maria", "Jorge"];
            return Promise.all(
                labels.map(async (label) => {
                const descriptions = [];
                for (let i = 1; i <= 2; i++) {
                    const img = await faceapi.fetchImage(`/static/profiles/${label}/${i}.jpg`);
                    const detections = await faceapi
                    .detectSingleFace(img)
                    .withFaceLandmarks()
                    .withFaceDescriptor();
                    descriptions.push(detections.descriptor);
                }
                return new faceapi.LabeledFaceDescriptors(label, descriptions);
                })
            );
            }

        video.addEventListener("play", async () => {
        const labeledFaceDescriptors = await getLabeledFaceDescriptions();
        const faceMatcher = new faceapi.FaceMatcher(labeledFaceDescriptors);

        const canvas = faceapi.createCanvasFromMedia(video);
        document.body.append(canvas);

        const displaySize = { width: video.width, height: video.height };
        faceapi.matchDimensions(canvas, displaySize);

        setInterval(async () => {
            const detections = await faceapi
            .detectAllFaces(video)
            .withFaceLandmarks()
            .withFaceDescriptors();

            const resizedDetections = faceapi.resizeResults(detections, displaySize);

            canvas.getContext("2d").clearRect(0, 0, canvas.width, canvas.height);

            const results = resizedDetections.map((d) => {
            return faceMatcher.findBestMatch(d.descriptor);
            });
            results.forEach((result, i) => {
            const box = resizedDetections[i].detection.box;
            const drawBox = new faceapi.draw.DrawBox(box, {
                label: result,
            });
            drawBox.draw(canvas);
                        // Dibujar landmarks
            const landmarks = resizedDetections[i].landmarks;
            const drawLandmarks = new faceapi.draw.DrawFaceLandmarks(landmarks);
            drawLandmarks.draw(canvas);

            });
        }, 100);
        });        
    </script>
    <script src="/static/particles.min.js"></script>
    <script>src="/static/app.js"</script>
    
</body>
</html>
